.bg-home{
    background-color: #cfe1f5;
}
.btn-home{
    background-color: #AE9DEC;
}
.btn-task{
    background-color: #b6deec;
    
}
.btn-finish{
    background-color: #ef6282;
}
.btn-modal{
    background-color: #ef6282;
}