<div class="container-fluid bg-home">
  <div class="row d-flex align-items-center">
     
      <div class="col-md-6 d-flex justify-content-center">
          <img src="https://i.imgur.com/HUHhmEI.png"  width="500px" height="500px"/>
      </div>
       <div class="col-md-6">
          <div class="card">
              <h5 class="card-header text-center">Tarefas</h5>
              <div class="card-body">
                  <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th scope="col" class="text-center">Chave</th>
                          <th scope="col" class="text-center">Tarefa</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr >
                          <td class="text-center"> {{ tarefa.key }} </td>
                          <td class="text-center"> {{ tarefa.value }} </td>
                        </tr>
                      </tbody>
                    </table>
                <a href="#" class="btn btn-home btn-lg btn-block text-dark">Excluir Tarefa</a>
              </div>
            </div>
      </div>
  </div>
</div>

