<footer class="page-footer font-small bgradiente pt-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h5 class="text-dark">Siga-me nas redes sociais</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="socialNetwork mb-1">
          <li>
            <a
              href="https://github.com/arthurleand"
              target="_blank"
              class="icoGithub"
              ><i class="fa fa-github-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/arthurleand/"
              target="_blank"
              class="icoInstagram"
              ><i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/arthur-leandro-251119187/"
              target="_blank"
              class="icoLinkedin"
              ><i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr size="10" width="100%" class="mt-0 mb-1 text-dark"> 
    </div>
    <div class="row d-flex justify-content-center ">
      <span class="text-dark mb-2"> © 2021 Copyright: Arthur Leandro Bezerra Silva</span>
    </div>
  </div>
